<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="visor-account">
  <template>
    <style>
      :host {
        display: block;
      }
      .wrapper{
        border-top: 1px solid lightgray;
        margin: 30px 25px 0 25px;
        padding: 15px 0 15px;
      }
      .sectionTitle {
        font-size: 25px;
        color: #6c757d !important;
        margin: 0 0 8px 0;*/
      }
      .bluebg {
        padding: 7px 0;
        background: #1a73e8;
        color: white;
        border-right: 1px solid #fff;
        border-bottom: 1px solid white;
      }
      .whitebg {
        padding: 7px 0;
        background: white;
        color: white;
        /*border-bottom: 1px solid #1a73e8;*/
      }
      .row {
        margin-left: 0 !important;
      }
      .title {
        display: block;
      }
      select{
        border-radius: 50px;
        padding-left: 5px;
        border: none;
        outline: none;
      }
      .currencyOpt{
        color: gray;
      }
      .btnMovimientos{
        margin: 5px;
      }
      .btn-primary {
        margin-top: 5px;
      }

      .highlight{animation:animateText 0.6s}
      @keyframes animateText{from{text-shadow: 3px 3px 8px #fff;} to{text-shadow: 0px 0px 0px #fff;}}

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="wrapper">
      <div class="sectionTitle">Éstas son sus cuentas en
        <select value="{{componentName::change}}" class="btn">
          <option class="currencyOpt" value="eur">EUR</option>
          <option class="currencyOpt" value="usd">USD</option>
        </select>
      </div>
      <template is="dom-repeat" items="{{accounts}}">
        <div class="row">
          <div class="col-3 col-sm-6 bluebg"><div class="title">IBAN</div>{{item.iban}}</div>
          <div class$="col-3 col-sm-2 bluebg {{highlight}}">
            <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
              <div component-name="eur"><div class="title">Saldo</div>
                {{item.balance}} €
              </div>
            </iron-pages>
            <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
              <div component-name="usd"><div class="title">Saldo</div>
                {{item.balanceUSD}} $
              </div>
            </iron-pages>
          </div>
          <div class="col-3 col-xs whitebg">
            <button name="{{item.iban}}" on-click="redirect" type="button" class="btnMovimientos btn btn-primary">Movimientos</button>
          </div>
        </div>
      </template>
    </div>
    <iron-ajax auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/accounts/{{userid}}"

      handle-as="json"
      on-response="showData"
    >
    <!--on-error="mockedShowData"-->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccount extends Polymer.Element {
      static get is() { return 'visor-account'; }
      static get properties() {
        return {
          userid: {
            type: Number
          },
          accounts: {
            type: Array
          },
          componentName: { // Nos permitirá setear el tipo de divisa inicial desde showData
            type: String
          },
          highlight: {
            type: String,
            value: ""
          }
        };
      }

      redirect(e){
        window.location="/apunte/" + e.target.name;
      }

      /* MANEJADORA DE LA RESPUESTA AL INVOCAR EL SERVICIO */
      showData(data){
        console.log(data.detail.response);
        //console.log(data.detail.response.iban);
        //console.log(data.detail.response.balance);

        this.componentName = "eur";
        this.accounts = data.detail.response;
        /*this.iban = data.detail.response.iban;
        this.balance = data.detail.response.balance;*/
      }

      mockedShowData(){
        this.componentName = "eur";
        this.accounts = [
            {
                "_id": {
                    "$oid": "5c1a769954d6060ca6828670"
                },
                "iban": "PL30 7555 5903 6997 1523 6369 7176",
                "user_id": 3,
                "balance": 760.3,
                "balanceUSD": 800
            },
            {
                "_id": {
                    "$oid": "5c1a769954d6060ca682867f"
                },
                "iban": "FR70 8432 4274 57YT NUPU KRL1 D47",
                "user_id": 3,
                "balance": 576.24,
                "balanceUSD": 600
            }
        ];
      }
    }

    window.customElements.define(VisorAccount.is, VisorAccount);
  </script>
</dom-module>
