<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../registro-usuario/registro-usuario.html">
<link rel="import" href="../editar-usuario/editar-usuario.html">

<dom-module id="login-usuario">
  <link rel="import" type="css" href="../css/w3c.css">
  <template>
    <style>
      :host {
        display: block;
      }
      .errorMsg{
        color: #DA3851;
        font-weight: bold;
        display: block;
        margin: 5px 0 5px 2px;
      }
      .sectionTitle{
        font-size: 25px;
        color: #6c757d !important;
      }
      input.login{
        margin: 5px 0 5px 2px;
      }
      button.login,
      input{
        outline: 0; /* Removes the yellow border in chrome when the input is :active */
        border: 1px solid lightgray;
        border-radius: 30px;
        padding: 4px 12px;
      }
      div.botonera{
        margin-bottom: 15px;
        background: #fff;
      }
      #login,
      #registro{
        /*z-index: -1;*/
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <iron-localstorage
      name="my-app-storage"
      value="{{showExitButton}}"
      on-iron-localstorage-load-empty="initializeProperty">
    </iron-localstorage>

    <iron-localstorage
      name="my-bank-userId"
      value="{{userId}}">
    </iron-localstorage>

    <div class="botonera">
      <button on-click="seleccioncomponente" class="btn btn-primary" type="button" name="login" id="loginBtn">Acceder</button>
      <button on-click="seleccioncomponente" class="btn btn-secondary" type="button" name="registro" id="registroBtn">Hacerme cliente</button>
      <button hidden$="{{!showExitButton}}" on-click="seleccioncomponente" type="button" class="btn btn-secondary" name="editar">Editar perfil</button>
      <button hidden$="{{!showExitButton}}" on-click="salir" type="button" class="btn btn-warning" name="salirButton">Salir</button>
    </div>

    <div id="contentWrapper" class="w3-container">
      <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
        <div id="login" component-name="login">
          <div class="sectionTitle">Ingrese sus credenciales</div>
          <input required class="login" placeholder="email" type="email" name="" value="{{email::input}}"></input>
          <input required class="login" placeholder="password" type="password" name="" value="{{password::input}}"></input>
          <button on-click="login" type="button" class="btn login" name="loginButton">Login</button>
          <span class="errorMsg" hidden$="{{isLogged}}">Credenciales erróneos</span>
        </div>
        <div id="registro" component-name="registro">
          <registro-usuario></registro-usuario>
        </div>
        <div id="editar" component-name="editar">
          <editar-usuario></editar-usuario>
        </div>
      </iron-pages>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="post"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          userId: {
            type: String
          }, password: {
            type: String,
            value: "$2b$10$1cVgEx31.DJDcUxbCeY3"
          }, email: {
            type: String,
            value: "lbilofsky@imdb.com"
          }, isLogged: {
            type: Boolean,
            value: true
          }, componentName: {
            type: String
          }, showExitButton: {
            type: Boolean,
            value: false,
            observer: '_disabledButtons'
          }
        };
      }

      /**
        This method is invoked to set (initialize) the value of the property
        showExitButton that, on further occasions, will use the value
        set in the localstorage
      */
      initializeProperty() {
        this.showExitButton = false;
      }

      manageAJAXResponse(data){
        console.log("Llegaron los resultados");
        console.log(data.detail.response);

        this.isLogged = true;
        this.userId = data.detail.response.id;
        this.showExitButton = true;

        window.location = "/user/" + this.userId;
      }

      login(){
        console.log("El usuario ha pulsado el BOTONNNNN");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        // Para referenciar elementos del shadow dom
        this.$.doLogin.body = JSON.stringify(loginData);
        // Enviamos la petición
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      showError(error){
        console.log("Hubo un error");
        //console.log("Hubo un error" + event.detail);
        console.log(error);
        this.isLogged = false;
      }

      seleccioncomponente(e){
        console.log(e);
        this.componentName = e.srcElement.name;
        console.log(this.componentName);

        if (this.componentName == "login"){
          var classList = this.$.login.classList;
          classList.add("w3-animate-top");
          classList.add("w3-container");
        } else if (this.componentName == "registro"){
          var classList = this.$.registro.classList;
          classList.add("w3-animate-top");
          classList.add("w3-container");
        } else if (this.componentName == "editar"){
          var classList = this.$.editar.classList;
          classList.add("w3-animate-top");
          classList.add("w3-container");
        }

        // Login / registro animation
        //this.$.contentWrapper.style.
        //this.componentName = "";
        /*this.$.contentWrapper.classList.remove('w3-animate-top');
        this.componentName = e.srcElement.name
        this.$.contentWrapper.classList.add('w3-animate-top');*/
      }

      salir(){
        this.showExitButton = false;
        window.location = '/';
      }

      _disabledButtons(){
        console.log("[info] Cambió el estado de showExitButton a " + this.showExitButton);
        if (this.showExitButton == false){
          this.$.loginBtn   .disabled = false;
          this.$.registroBtn.disabled = false;
        } else {
          this.$.loginBtn   .disabled = true;
          this.$.registroBtn.disabled = true;
        }
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
