<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="add-apunte">
  <template>
    <style>
      :host {
        display: block;
      }
      .sectionTitle {
        margin: 15px 25px 0 0;
        border-top: 1px solid lightgray;
        padding: 15px 0 15px;
        font-size: 25px;
        color: #6c757d !important;
      }
      button.add,
      input.add{
        margin: 5px 0 5px 2px;
      }
      input.longInput{
        width: 320px;
      }
      button.add,
      input{
        outline: 0; /* Removes the yellow border in chrome when the input is :active */
        border: 1px solid lightgray;
        border-radius: 30px;
        padding: 4px 12px;
      }
      .borderError{
        background-color: rgba(255, 0, 13, 0.16);
        border-color: #DA3851;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="sectionTitle">Facilite los datos del movimiento</div>
    <input required class="add" placeholder="Descripción" type="text" id="description" value="{{description::input}}"></input><br/>
    <input required class="add" placeholder="Cantidad" type="text" id="amount" value="{{amount::input}}"></input>
    <input disabled required class="add longInput" placeholder="IBAN" type="text" id="iban" value="[[iban]]"></input><br/>
    <button class="btn add" on-click="add" type="button" name="addButton">Añadir movimiento</button>
    <span hidden$="{{}}"></span>

    <iron-localstorage
      name="my-bank-userId"
      value="{{userId}}">
    </iron-localstorage>

    <iron-ajax
      id="doAdd"
      url="http://localhost:3000/apitechu/v2/apuntes"
      handle-as="json"
      content-type="application/json"
      method="post"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AddApunte extends Polymer.Element {
      static get is() { return 'add-apunte'; }
      static get properties() {
        return {
          description: {
            type: String
          }, amount: {
            type: Number,
            observer: '_replaceCommas'
          }, iban: {
            type: String
          }, componentName: {
            type: String
          }
        };
      }

      manageAJAXResponse(data){
        console.log("Llegaron los resultados");
        console.log(data.detail.response);

        //this.isLogged = true;
        window.location = "/apunte/" + this.iban;
      }

      add(){
        console.log("El usuario ha pulsado el BOTONNNNN de AÑADIR");
        console.log("   > nombre   : " + this.firstName);
        console.log("   > apellido : " + this.lastName);

        // Validación campos obligatorios (*)
        if (this.description == ""){
          console.log("description vacía");
          this.$.description.classList.add("borderError");
          return;
        }
        if (this.amount == ""){
          this.$.amount.classList.add("borderError");
          return;
        }
        if (this.iban == ""){
          this.$.iban.classList.add("borderError");
          return;
        }

        var newApunte = {
          "id"         : 0,
          "description": this.description,
          "amount"     : this.amount,
          "currency"   : "EUR",
          "iban"       : this.iban,
          "location"   : [25.1212, 55.1535]
        };
        console.log(newApunte);

        // Para referenciar elementos del shadow dom
        this.$.doAdd.body = JSON.stringify(newApunte);
        // Enviamos la petición
        this.$.doAdd.generateRequest();
        console.log("Petición AÑADIR APUNTE enviada");
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      _replaceCommas(){
        this.amount = this.amount.replace(",",".", -1);
      }

      seleccioncomponente(e){
        console.log(e);
        this.componentName = e.srcElement.name;
        console.log(this.componentName);
      }
    }

    window.customElements.define(AddApunte.is, AddApunte);
  </script>
</dom-module>
