<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="registro-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .sectionTitle {
        font-size: 25px;
        color: #6c757d !important;
      }
      button.registro,
      input.registro{
        margin: 5px 0 5px 2px;
      }
      button.registro,
      input{
        outline: 0; /* Removes the yellow border in chrome when the input is :active */
        border: 1px solid lightgray;
        border-radius: 30px;
        padding: 4px 12px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="sectionTitle">Rellene sus datos de registro</div>
    <input required class="registro" placeholder="email" type="email" name="" value="{{email::input}}"></input><br/>
    <input required class="registro" placeholder="nombre" type="text" name="" value="{{firstName::input}}"></input>
    <input required class="registro" placeholder="apellidos" type="text" name="" value="{{lastName::input}}"></input><br/>
    <input required class="registro" placeholder="password" type="password" name="" value="{{password::input}}"></input><br/>
    <button class="btn registro" on-click="registro" type="button" name="registroButton">Registrarme</button>
    <span hidden$="{{}}"></span>

    <iron-ajax
      id="doRegistro"
      url="http://localhost:3000/apitechu/v2/users"
      handle-as="json"
      content-type="application/json"
      method="post"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroUsuario extends Polymer.Element {
      static get is() { return 'registro-usuario'; }
      static get properties() {
        return {
          password: {
            type: String
          }, email: {
            type: String
          }, firstName: {
            type: String
          }, lastName: {
            type: String
          }, componentName: {
            type: String
          }
        };
      }

      manageAJAXResponse(data){
        console.log("Llegaron los resultados");
        console.log(data.detail.response);

        //this.isLogged = true;
        window.location = "/";
      }

      registro(){
        console.log("El usuario ha pulsado el BOTONNNNN de REGISTRO");
        console.log("   > nombre   : " + this.firstName);
        console.log("   > apellido : " + this.lastName);

        var registroData = {
          "email"      : this.email,
          "password"   : this.password,
          "first_name" : this.firstName,
          "last_name"  : this.lastName
        };
        console.log(registroData);

        // Para referenciar elementos del shadow dom
        this.$.doRegistro.body = JSON.stringify(registroData);
        // Enviamos la petición
        this.$.doRegistro.generateRequest();
        console.log("Petición REGISTRO enviada");
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      seleccioncomponente(e){
        console.log(e);
        this.componentName = e.srcElement.name;
        console.log(this.componentName);
      }
    }

    window.customElements.define(RegistroUsuario.is, RegistroUsuario);
  </script>
</dom-module>
