<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .wrapper{
        border-top: 1px solid lightgray;
        margin: 30px 25px 0 25px;
        padding: 15px 0 15px;
      }
      .sectionTitle {
        font-size: 25px;
        color: #6c757d !important;
      }
      .text_bold{
        font-weight: bold;
        color: #6c757d;
      }
      .text{
        font-weight: bold;
        color: #1464A5;
      }
      .indentTitle{
      }
      .indent{
        margin: 0 0 0 45px;
      }
      .underlined{
        color: #999;
        border-bottom: 1px solid #6c757d;
      }
      #list_accounts_btn{

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="wrapper">
      <span class="sectionTitle indentTitle">Ésta es su ficha de cliente:</span><br/><br/>
      <div class="text indent">
        <span class="underlined">Titular del contrato</span><br/>
        [[first_name]] [[last_name]]
      </div><br/>
      <div class="text indent">
        <span class="underlined">Su email es</span><br/>
        [[email]]
      </div><br/>
      <button on-click="redirect" class="btn btn-primary" type="button" name="list_accounts_btn">Mis cuentas</button>
    </div>

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, id: {
            type: Number
          }, email: {
            type: String
          }
        };
      }

      redirect(){
        window.location="/account/" + this.id;
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);

        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
