<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../add-apunte/add-apunte.html">

<dom-module id="visor-apunte">
  <template>
    <style>
      :host {
        display: block;
      }
      .wrapper{
        border-top: 1px solid lightgray;
        margin: 15px 25px 0 25px;
        padding: 15px 0 15px;
      }
      .breadcrum{
        margin: 12px 0 0 25px;
      }
      .sectionTitle {
        font-size: 25px;
        color: #6c757d !important;
        margin: 0 0 8px 0;*/
      }
      .iban{
        font-size: 20px;
        color: #73b3ec !important;
      }
      .bluebg {
        background: #1a73e8;
        color: white;
        border-right: 1px solid #fff;
        /*border-bottom: 1px solid white;*/
        padding: 12px 0;
      }
      .whitebg {
        background: white;
        color: white;
        /*border-bottom: 1px solid #1a73e8;*/
      }
      .headerRow{
        background: #003b7b;
        color: white;
        border-right: 1px solid #fff;
        border-bottom: 1px solid white;
        padding: 5px;
      }
      .row {
        margin-left: 0 !important;
      }
      .row a{
        color: #fff;
        border-bottom: 1px dotted white;
      }
      .row a:hover{
        border-bottom: 1px dotted #0056b3;
        text-decoration: none;
      }
      .title {
        /*display: block;*/
      }
      .year{
        font-size: 10px;
      }
      select{
        border-radius: 50px;
        padding-left: 5px;
        border: none;
        outline: none;
      }
      .currencyOpt{
        color: gray;
      }
      .center{
        text-align: center;
      }
      .tight{
        line-height: 14px;
      }
      /*.btnMovimientos{
        margin: 5px;
        background-color: #bd2130 !important;
        border-color: #bd2130 !important;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }*/

      .btn-primary,
      .btn-secondary {
        margin-top: 5px;
      }

      .highlight{animation:animateText 0.6s}
      @keyframes animateText{from{text-shadow: 3px 3px 8px #fff;} to{text-shadow: 0px 0px 0px #fff;}}

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <iron-localstorage
      name="my-bank-userId"
      value="{{userId}}">
    </iron-localstorage>

    <div class="breadcrum">
      <button on-click="back" class="btn btn-outline-secondary" type="button" name="button">< Volver a Mis cuentas</button>
    </div>
    <div class="wrapper">
      <div class="sectionTitle">Éstos son los movimientos de su cuenta<br/><div class="iban">{{iban}}</div>
      </div>

      <div class="row">
        <div class="col-4 col-sm-5 headerRow">
          <div class="title">Descripción</div>
        </div>
        <div class$="col-4 col-sm-1 headerRow center {{highlight}}">
          <div class="title">Dónde</div>
        </div>
        <div class$="col-4 col-sm-1 headerRow center {{highlight}}">
          <div class="title">Fecha</div>
        </div>
        <div class$="col-4 col-md-2 headerRow {{highlight}}">
          <div class="title">Importe</div>
        </div>
      </div>
      <template is="dom-repeat" items="{{accounts}}">
        <div class="row">
          <div class="col-4 col-sm-5 bluebg">
            <div class="description">{{item.description}}</div>
          </div>
          <div class="col-4 col-sm-1 bluebg center">
            <a target="_blank" href="https://maps.google.com/?q={{item.location}}">Ver</a>
          </div>
          <div class="col-4 col-sm-1 bluebg center tight">
            {{_formatDate(item.date)}}<br/><span class="year">{{_year(item.date)}}</span>
          </div>
          <div class$="col-4 col-md-2 bluebg {{highlight}}">
            <div component-name="eur">
              <div class="description">
                {{item.amount}} €
              </div>
            </div>
          </div>
          <div class="col-4 col-xs whitebg">
          </div>
        </div>
      </template>

      <button on-click="redirect" class="btn btn-secondary" type="button" name="new_apunte_btn">Nuevo movimiento</button>
      <add-apunte iban="{{iban}}"></add-apunte>
    </div>
    <div class="wrapper footer">
    </div>

    <iron-ajax auto
      id="getApunte"
      url="http://localhost:3000/apitechu/v2/apuntes/{{iban}}"

      handle-as="json"
      on-response="showData"
    >
    <!--on-error="mockedShowData"-->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorApunte extends Polymer.Element {
      static get is() { return 'visor-apunte'; }
      static get properties() {
        return {
          userId: {
            type: Number
          },
          accounts: {
            type: Array
          },
          componentName: { // Nos permitirá setear el tipo de divisa inicial desde showData
            type: String,
          },
          highlight: {
            type: String,
            value: ""
          }
        };
      }

      back(){
        console.log('atrásssssssssss');
        window.location="/account/" + this.userId;
        //window.history.back();
      }
      /* MANEJADORA DE LA RESPUESTA AL INVOCAR EL SERVICIO */
      showData(data){
        console.log(data.detail.response);
        //console.log(data.detail.response.iban);
        //console.log(data.detail.response.balance);

        this.componentName = "eur";
        this.accounts = data.detail.response;
        /*this.iban = data.detail.response.iban;
        this.balance = data.detail.response.balance;*/
      }

      _formatDate(timeStamp) {
        var monthNames = [
          "ene", "feb", "mar",
          "abr", "may", "jun", "jul",
          "ago", "sept", "oct",
          "nov", "dic"
        ];
        var date = new Date(timeStamp)
        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        return day + ' ' + monthNames[monthIndex];
      }

      _year(timeStamp){
        var date = new Date(timeStamp)
        return date.getFullYear();
      }
    }

    window.customElements.define(VisorApunte.is, VisorApunte);
  </script>
</dom-module>
