<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="editar-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .sectionTitle {
        font-size: 25px;
        color: #6c757d !important;
      }
      button.editar,
      input.editar{
        margin: 5px 0 5px 2px;
      }
      button.editar,
      input{
        outline: 0; /* Removes the yellow border in chrome when the input is :active */
        border: 1px solid lightgray;
        border-radius: 30px;
        padding: 4px 12px;
      }
      .borderError{
        background-color: rgba(255, 0, 13, 0.16);
        border-color: #DA3851;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="sectionTitle">Edite sus datos de cliente</div>
    <input required class="editar" placeholder="email" type="email" id="email" value="{{email::input}}"></input><br/>
    <input required class="editar" placeholder="nombre" type="text" id="first_name" value="{{firstName::input}}"></input>
    <input required class="editar" placeholder="apellidos" type="text" id="last_name" value="{{lastName::input}}"></input><br/>
    <input required class="editar" placeholder="new password" type="password" id="password" value="{{password::input}}"></input><br/>
    <button class="btn editar" on-click="editar" type="button" name="editarButton">Guardar cambios</button>
    <span hidden$="{{}}"></span>

    <iron-localstorage
      name="my-bank-userId"
      value="{{userId}}">
    </iron-localstorage>

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{userId}}"
      handle-as="json"
      on-response="setProperties"
    >

    <iron-ajax
      id="doEditar"
      url="http://localhost:3000/apitechu/v2/users"
      handle-as="json"
      content-type="application/json"
      method="put"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EditarUsuario extends Polymer.Element {
      static get is() { return 'editar-usuario'; }
      static get properties() {
        return {
          userId: {
            type: String
          }, password: {
            type: String
          }, email: {
            type: String
          }, firstName: {
            type: String
          }, lastName: {
            type: String
          }, componentName: {
            type: String
          }
        };
      }

      /**
       * It sets the properties so that the value attributes of the inputs can be filled in
       */
      setProperties(data){
        console.log("Cargando propiedades de usuario " + this.userId);
        this.firstName = data.detail.response.first_name;
        console.log("nombre cargado: " + this.firstName);
        this.lastName = data.detail.response.last_name;
        this.email = data.detail.response.email;
        console.log("email cargado: " + this.email);
      }

      manageAJAXResponse(data){
        console.log("Llegaron los resultados");
        console.log(data.detail.response);

        //this.isLogged = true;
        window.location = "/user/" + this.userId;
      }

      editar(){
        console.log("El usuario ha pulsado el BOTONNNNN de EDITAR");
        console.log("   > nombre   : " + this.firstName);
        console.log("   > apellido : " + this.lastName);

        // Validación campos obligatorios (*)
        if (this.email == ""){
          console.log("email vacío");
          this.$.email.classList.add("borderError");
          return;
        }
        if (this.firstName == ""){
          this.$.first_name.classList.add("borderError");
          return;
        }
        if (this.lastName == ""){
          this.$.last_name.classList.add("borderError");
          return;
        }
        if (typeof this.password == "undefined"){
          console.log("password vacía");
          this.$.password.classList.add("borderError");
          return;
        }

        var editarData = {
          "id"         : this.userId,
          "email"      : this.email,
          "password"   : this.password,
          "first_name" : this.firstName,
          "last_name"  : this.lastName
        };
        console.log(editarData);

        // Para referenciar elementos del shadow dom
        this.$.doEditar.body = JSON.stringify(editarData);
        // Enviamos la petición
        this.$.doEditar.generateRequest();
        console.log("Petición EDITAR DATOS USUARIO enviada");
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      seleccioncomponente(e){
        console.log(e);
        this.componentName = e.srcElement.name;
        console.log(this.componentName);
      }
    }

    window.customElements.define(EditarUsuario.is, EditarUsuario);
  </script>
</dom-module>
